attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
configparser==6.0.0
distlib==0.3.7
filelock==3.13.1
flake8==3.9.1
fluidsynth==0.2
gTTS==2.4.0
idna==2.10
iniconfig==2.0.0
mccabe==0.6.1
mfrc522==0.0.7
midi2audio==0.1.1
mido==1.3.0
mingus==0.6.1
numpy==1.20.2
packaging==23.2
platformdirs==3.11.0
pluggy==0.13.1
py==1.11.0
pycodestyle==2.7.0
pycparser==2.21
pydub==0.25.1
pyflakes==2.3.1
pyFluidSynth==1.3.2
pygame==2.5.2
pypiano @ git+https://github.com/FelixGSE/pypiano.git@db0f0734690dde156494bca2cd92cc0c0f36afa6
pytest==6.2.3
python-dotenv==1.0.0
python-rtmidi==1.5.7
requests==2.31.0
RPi.GPIO==0.7.1
sf2utils==0.9.0
six==1.16.0
sounddevice==0.4.6
spidev==3.6
tomita==0.2.0
toml==0.10.2
tox==3.23.0
tqdm==4.60.0
urllib3==1.26.18
virtualenv==20.24.6
